
<footer class="jumbotron text-center border-top" style="background-color: #f1f1f1";>
    <partial name="~/Views/Shared/Partials/_MediaIconsPartial.cshtml" />
    <div class="text-center p-3">
        © @DateTime.Now.Year Fixxo. All right reserved.
    </div>
</footer>



