<header>
    <div class="container">
        <h2 class="logo">Fixxo.</h2>
        <div id="menu" class="">
            <nav class="links">
                <a class="link" asp-controller="Home" asp-action="Index">Home</a>
                <a class="link" asp-controller="Contact" asp-action="Index">Contact</a>
            </nav>
            <nav class="menu-icons icons">
                <a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>
                <a class="link" href="/compare"><i class="fa-regular fa-code-compare"></i></a>
                <a class="link" href="/favorites"><i class="fa-regular fa-heart"></i></a>
                <a class="link" asp-controller="ShoppingChart" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="link ms-5" href="/account"><i class="fa-regular fa-user"></i></a>
            </nav>
        </div>
        <div id="toggle-icon" class="icons">
            <button class="link" ><i class="fa-regular fa-bars"></i></button>
        </div>
    </div>
</header>


