
<section class="info-container">
        <div class="support">
            <h6>Customer Support</h6>
            <p>Village did removed enjoyed explain talking.</p>
        </div>
        <div class="payement">
            <div></div>
            <h6>Secured Payement</h6>
            <p>Village did removed enjoyed explain talking.</p>
        </div>
        <div class="delivery">
            <h6>Free Home Delivery</h6>
            <p>Village did removed enjoyed explain talking.</p>
        </div>
        <div class="return">
            <h6>30 Days Returns</h6>
            <p>Village did removed enjoyed explain talking.</p>
        </div>
</section>

